<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
	<title>Fapp - Login Page</title>
</head>

<body>

	<div layout:fragment="loginContent">

		<img class="logoAtLogin" th:src="@{/images/fapp/fapp_Logo.png}" alt="Logo" />

		<h3 class="form-signin-heading">Welcome at the Fapp Site. Please login.</h3>

		<br/>

		<form name="login" th:action="@{/login}" method="post" class="form-signin">

			<!--Param section -->
			<div th:if="${param.error}" class="alert alert-danger">Wrong user or password. Please check and try it again.</div>
			<div th:if="${param.logout}" class="alert alert-success">You successfully logged out.</div>
			<div th:if="${param.user_exist_error}" class="alert alert-warning">This email have been already taken.</div>
			<div th:if="${param.user_persisted}" class="alert alert-success">You successfully registered. Please check your email.</div>
			<div th:if="${param.user_changed}" class="alert alert-success">You logged out. Your changes are successfully saved.</div>
			<div th:if="${param.user_pass_changed}" class="alert alert-success">You logged out. Your password is successfully saved.</div>
			<div th:if="${param.act_success}" class="alert alert-success">Activation successfully done.</div>
			<div th:if="${param.user_active}" class="alert alert-success">You already activated your account.</div>
			<div th:if="${param.easteregg}" class="alert alert-success">Hello I'm an Easter EGGy.</div>

			<!--Action Section-->

			<div class="loginInputs">
				<label for="username">User Email:</label>
				<input type="text" id="username" name="username" placeholder="User email" required="required" />

				<label for="password">Password:</label>
				<input type="password" id="password" name="password" placeholder="Password" required="required" />
			</div>

			<div class="btnDiv">
				<button class="loginBtn" type="submit">Login</button>
			</div>

			<h5 class="form-signin-heading">Or if you don't have any account create here: </h5>

			<div class="btnDiv">
				<button class="loginBtn" type="button" onclick="window.location.href='/registration'" >Create a new account.</button>
			</div>

		</form>

	</div>

</body>
</html>