<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fapp - Login Page</title>
</head>

<body>

	<div layout:fragment="loginContent">

		<br/><br/>

		<h2 class="form-signin-heading">&#8810;&#8810; Please Login &#8811;&#8811;</h2>

		<br/>

		<form name="login" th:action="@{/login}" method="post" class="form-signin">

			<!--Param section -->
			<div id="err" th:if="${param.error}" class="alert alert-danger">Wrong user or password. Please check and try it again.</div>
			<div th:if="${param.logout}" class="alert alert-success">You successfully logged out.</div>
			<div th:if="${userExist}" class="alert alert-warning">This email have been already taken.</div>
			<div th:if="${userCreated}" class="alert alert-success">You successfully registered. Please check your email.</div>
			<div th:if="${userNotActivated}" class="alert alert-warning">Your account is still not activated. Check your email.</div>

			<!--Action Section-->
			<div>
				<label for="username">User Email:</label>
				<input type="text" id="username" name="username" placeholder="User email" required="required" />

				<label for="password">Password:</label>
				<input type="password" id="password" name="password" placeholder="Password" required="required" />
			</div>

			<br/>
			<label class="chcontainer">Remember me
				<input type="checkbox" />
				<span class="checkmark"></span>
			</label>
			<br/>

			<div class="btnDiv">
				<button class="loginBtn" type="submit">Login</button>
			</div>
			<br/>

			<div class="btnDiv">
				<button class="loginBtn" type="button" onclick="window.location.href='/registration'" >Create a new account.</button>
			</div>

		</form>

	</div>

</body>
</html>