<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- PROPERTIES -->
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_NAME" value="fappLog"/>

    <!-- STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>> %d{yyyy-MM-dd HH:mm:ss} | %magenta([%thread]) |%highlight(%-5level)| %msg%n </pattern>
        </encoder>
    </appender>

    <!-- SAVE TO FILE -->
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} | [%thread] |%-5level| %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/${LOG_NAME}_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- LOGGER DEFINER -->
    <logger name="com.financEng" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SAVE-TO-FILE" />
    </logger>

</configuration>