button {
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    margin: 5px 0px 0px 0px;
    background-color: #3920947d;
    text-align: center;
    cursor: pointer;
    width: 50%;
    border: 1px solid #00e4ff7a;
    border-radius: 8px;
    transition-duration: 0.4s;
}

button:hover {
    color: #1870f6;
    background-color: #f5f5f5bd;
    transition-duration: 0.4s;
    width: 60%;
}