select#soflow-color {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
    width: 30%;
}

select#soflow, select#soflow-color {
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;

    background-color: #2196F3;
    border: 1px solid #ffffffbd;
    color: #fff;
    margin: 20px;
    width: 50%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
}
