body {
  background-image: url("../images/fapp/fappBackg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;

  font-family: Comfortaa, sans-serif !important;
  font-weight: normal;
  font-size: 16px;
  color: white !important;
}

#frmlogout {
  display:inline;
}

.navbar {
  margin-top:3%;
}

label{
  margin:5px;
}

.navbar.navbar-default{
  background-color: #08080859;
  border-color:#f5f5f59e;
  border: 1px solid;
  border-radius: 8px;
}

.checkbox{
  text-align: center;
}

.form-signin {
  max-width: 55%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.form-signin-heading {
  padding: 5px;
  margin: auto;
  text-align: center;
}

/* Button div to make it center */
.btnDiv {
  text-align:center;
}

input[type=text],[type=password] {
  color: black;
  font-weight: normal;
  font-size: 15px;
}

/* The input fields for Text */
input[type=text] {
  width: 70%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin:5px;
}

/* The input fields for Password */
input[type=password] {
  width: 70%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 5px 5px 5px 3%;
}

/* The login button default */
.loginBtn {
  width: 60%;
  position: relative;
  background-color: #186bef3d;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  transition-duration: 0.4s;
}

/* The login button hover */
.loginBtn:hover {
  width: 70%;
  position: relative;
  background-color: #007ca5;
  color: #102f66;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
}

.alert {
  font-family: Comfortaa, sans-serif !important;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: white !important;
  padding: 10px !important;
}

.alert-danger {
  background-color: #ff00008c !important;
  border-color:#f5f5f59e !important;
  border: 1px solid !important;
  border-radius: 8px !important;
}

.alert-warning {
  background-color: rgba(255, 255, 0, 0.55) !important;
  border-color:#f5f5f59e !important;
  border: 1px solid !important;
  border-radius: 8px !important;
}

.alert-success {
  background-color: #00ff078c !important;
  border-color:#f5f5f59e !important;
  border: 1px solid !important;
  border-radius: 8px !important;
}

.errorPage{
  width: 100%;
  margin: 5px;
  text-align:center;
}

.errorPage img{
  width: 20%;
  height: 20%;
  margin: 5px;
  text-align:center;
}

footer{
  background-color: #08080859;
  border-color:#f5f5f59e;
  border: 1px solid;
  border-radius: 8px;
  padding: 7px 7px;
  font-size: 14px;
  text-align: center;
  margin-bottom:3%;
}