body {
  background-image: url("../images/fapp/fappBackg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;

  font-family: Comfortaa, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: white ;
}

label{
  margin:5px;
  font-weight:normal;
}

#frmlogout {
  display:inline;
}

.navbar {
  margin-top:3%;
  font-size: 14px;
}

.navbar.navbar-default{
  background-color: #08080859;
  border-color:#f5f5f59e;
  border: 1px solid;
  border-radius: 8px;
}

.navbar-default .navbar-text {
  color:white;
}

.navbar-default .navbar-nav > li > a {
  color:white;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #1870f6;
  background-color: #f5f5f5bd;
}

.navbar-default .navbar-nav > li.active > a{
  color:white;
  background-color: #1870f6;
}

.navbar-default .navbar-nav > li.active > a:hover{
  color: #1870f6;
  background-color: #f5f5f5bd;
}

.form-inline a{
  color: #1771f9;
  text-decoration: none;
}

.form-signin {
  max-width: 55%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.form-signin-heading {
  text-align: center;
}

/* Logo */
.logoAtLogin {
  padding:5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:50%;
}

.logoAtMenu {
  padding:2px;
  width:10%;
}

/* Button div to make it center */
.btnDiv {
  text-align:center;
}

/* The input fields for Text */
input[type=text] {
  width: 90%;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  background-color: #1872fac2;
  border: 1px solid #00e4ff7a;
  border-radius: 8px;
}

/* The input fields for Password */
input[type=password] {
  width: 90%;
  color: white;
  padding: 12px 20px;
  margin: 5px 5px 5px 3%;
  background-color: #1872fac2;
  border: 1px solid #00e4ff7a;
  border-radius: 8px;
}

.form-signin input[type=text], input[type=password] {
  width: 70%;
}

.form-signin .loginInputs {
  text-align: center;
  margin: 0% 0% 5% -15%;
}

::placeholder {
  color: white;
  opacity: 1;
}

/* The login button default */
.loginBtn {
  width: 60%;
  position: relative;
  background-color: #186bef3d;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  transition-duration: 0.4s;
}

/* The login button hover */
.loginBtn:hover {
  width: 70%;
  position: relative;
  background-color: #007ca5;
  color: #102f66;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
}

.alert {
  font-family: Comfortaa, sans-serif ;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: white ;
  padding: 10px ;
}

.alert-danger {
  background-color: #ff00008c ;
  border-color:#f5f5f59e ;
  border: 1px solid ;
  border-radius: 8px ;
}

.alert-warning {
  background-color: rgba(255, 255, 0, 0.55) ;
  border-color:#f5f5f59e ;
  border: 1px solid ;
  border-radius: 8px ;
}

.alert-success {
  background-color: #00ff078c ;
  border-color:#f5f5f59e ;
  border: 1px solid ;
  border-radius: 8px ;
}

.errorPage{
  width: 100%;
  margin: 5px;
  text-align:center;
}

.errorPage img{
  width: 20%;
  height: 20%;
  margin: 5px;
  text-align:center;
}

footer {
  background-color: #08080859;
  border-color:#f5f5f59e;
  border: 1px solid;
  border-radius: 8px;
  padding: 7px 7px;
  font-size: 14px;
  text-align: center;
  margin-bottom:3%;
}

footer a{
  color: #1771f9;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
}

footer a:hover{
  color: #3700ff;
  background-color: #ffffffb8;
  border-radius: 4px ;

  font-size: 16px;
  text-decoration: underline;
  transition-duration: 0.4s;
}