.passCheck{
    border: 1px solid #f5f5f594;
    border-radius: 8px;
    width: 70%;
    margin: auto;
    padding: 0px 0px 0px 8%;
}

div.mesTex{
    width: 80%;
    margin: auto;
}

div.passCheck h3 {
    font-size: 15px;
}

div.passCheck #message{
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
div.passCheck .valid {
    color: green;
    text-align: left;
}

div.passCheck .valid:before {
    position: relative;
    left: -10px;
    content: "✔";
    text-align: left;
}

/* Add a red text color and an "x" when the requirements are wrong */
div.passCheck .invalid {
    color: red;
    text-align: left;
}

div.passCheck .invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
    text-align: left;
}