<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:mvc="http://www.springframework.org/schema/mvc">

<head>
    <link rel="stylesheet" href="/static/css/profileCard.css" th:href="@{/css/profileCard.css}"/>
    <mvc:resources mapping="/resources/" location="/resources/" />
</head>

<body>
		
	<div layout:fragment="loginContent">

        <h2 style="text-align:center">Change User Profile Card</h2>
        <br/>

        <div class="card">

            <div class="imageDiv">
                <div th:switch="${profileDetails.userGender}">
                    <img th:case="'Male'" th:src="@{/images/men.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                    <img th:case="'Female'" th:src="@{/images/women.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                </div>
            </div>

            <form name="saveUserChanges" th:action="@{/saveChange}" th:object="${profileDetails}" method="post" class="form-signin">
                <br/>
                <table>
                    <tr type="hidden">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{userGender}" />
                    </tr>
                    <tr>
                        <td class="tableLeft">
                            <label>First Name:</label>
                        </td>
                        <td class="tableRight">
                            <input type="text" id="fName" name="fName" th:field="*{fName}"  th:value="*{fName}" class="form-control" placeholder="First Name"  />
                        </td>
                    </tr>
                    <tr>
                        <td class="tableLeft">
                            <label>Sure Name:</label>
                        </td>
                        <td class="tableRight">
                            <input type="text" id="sName" name="sName" th:field="*{sName}"  th:value="*{fName}" class="form-control" placeholder="Sure Name"  />
                        </td>
                    </tr>
                </table>

                <div>
                    <button type="submit">Save</button>
                    <button>Cancel</button>
                </div>
            </form>


        </div>

	</div>
		
</body>
</html>