<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">

<head>
    <link rel="stylesheet" href="/static/css/profileCard.css" th:href="@{/css/profileCard.css}"/>
    <link rel="stylesheet" href="/static/css/passCheckerCss.css" th:href="@{/css/passCheckerCss.css}"/>
    <script src="/static/js/passwordChecker.js" th:src="@{/js/passwordChecker.js}"></script>
</head>

<body>
		
	<div layout:fragment="loginContent">

        <h2 style="text-align:center">Change Password</h2>
        <br/>

        <div class="card">

            <div class="imageDiv">
                <div th:switch="${profileDetails.userGender}">
                    <img th:case="'Male'" th:src="@{/images/men.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                    <img th:case="'Female'" th:src="@{/images/women.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                    <img th:case="'Unknown'" th:src="@{/images/questionMen.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                </div>

                <form name="saveUserChanges" th:action="@{/saveUserChanges}" th:object="${profileDetails}" method="post">
                    <br/>
                    <table>
                        <tr type="hidden">
                            <input type="hidden" th:field="*{id}" />
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Your account: </label>
                            </td>
                            <td class="tableRight">
                                <p class="tabel" th:value="*{sName+' '+fName}" th:text="*{sName+' '+fName}">temp</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Email: </label>
                            </td>
                            <td class="tableRight">
                                <p class="tabel" th:value="*{email}" th:text="*{email}">temp</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Password:</label>
                            </td>
                            <td class="tableRight">
                                <input type="password" id="userPassword" name="userPassword" th:field="*{password}" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Password Again:</label>
                            </td>
                            <td class="tableRight">
                                <input type="password" id="userPassword2" name="userPassword2" class="form-control" placeholder="Password Again" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required" />
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <div id="message" class="passCheck">
                        <h3>Password must contain the following:</h3>
                        <div class="mesTex">
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                            <p id="samePass" class="invalid">Password Confirmation</p>
                        </div>
                    </div>
                    <br/>
                    <div>
                        <button type="submit">
                            Save Password
                        </button>
                        <button type="button" onclick="window.location.href='/userprofile'">
                            Cancel Changes
                        </button>
                    </div>

                </form>
            </div>
        </div>
	</div>

</body>
</html>