<!DOCTYPE html>
<html lang="hu" layout:decorator="/layouts/main">

<head>
    <link rel="stylesheet" href="/static/css/profileCard.css" th:href="@{/css/profileCard.css}"/>
</head>

<body>
		
	<div layout:fragment="loginContent">

        <h2 style="text-align:center">Change User Profile Card</h2>
        <br/>

        <div class="card">

            <div class="imageDiv">
                <div th:switch="${profileDetails.userGender}">
                    <img th:case="'Male'" th:src="@{/images/men.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                    <img th:case="'Female'" th:src="@{/images/women.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                    <img th:case="'Unknown'" th:src="@{/images/questionMen.png}" alt="profilePicture" style="width: 40%;height: 40%;"/>
                </div>

                <form name="saveUserChanges" th:action="@{/saveUserChanges}" th:object="${profileDetails}" method="post">
                    <br/>
                    <table>
                        <tr type="hidden">
                            <input type="hidden" th:field="*{id}" />
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>First Name:</label>
                            </td>
                            <td class="tableRight">
                                <input type="text" id="fName" name="fName" th:field="*{fName}"  th:value="*{fName}" class="form-control"  placeholder="First Name" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Sure Name:</label>
                            </td>
                            <td class="tableRight">
                                <input type="text" id="sName" name="sName" th:field="*{sName}"  th:value="*{fName}"  class="form-control" placeholder="Sure Name" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Email:</label>
                            </td>
                            <td class="tableRight">
                                <input type="text" id="email" name="email" th:field="*{email}"  th:value="*{email}" class="form-control"  placeholder="Email" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Gender:</label>
                            </td>
                            <td class="tableRight">
                                <select th:field="*{userGender}">
                                    <option th:each="gendre : ${genders}" th:value="${gendre}" th:text="${gendre}" >GenderName</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Change Password:</label>
                            </td>
                            <td class="tableRight">
                                <a href="/changeuserpass" class="sublinks">Click here!</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tableLeft">
                                <label>Extend Exp Date:</label>
                            </td>
                            <td class="tableRight">
                                <a href="/extendexpiration" class="sublinks">
                                    Click here!
                                </a>
                            </td>
                        </tr>
                    </table>

                    <br/><br/>

                    <div>
                        <button type="submit">
                            Save Changes
                        </button>
                        <button type="button" onclick="window.location.href='/userprofile'">
                            Cancel Changes
                        </button>
                    </div>

                </form>
            </div>
        </div>
	</div>

</body>
</html>