<!DOCTYPE html>
<html lang="hu"	layout:decorator="/layouts/main">
<head>
	<title>Fapp - Home Page</title>
</head>
<body>
		
	<div layout:fragment="loginContent">
		
		<h2>Welcome Page</h2>

		<table>
			<tr>
				<p>Logged user:
				<span th:text="${profileDetails.fName}+' '+${profileDetails.sName}">Bob</span>
				</p>
			</tr>
			<tr>
				<p>Roles:
				<span sec:authentication="principal.authorities">[asd]</span>
				</p>
			</tr>
		</table>

		<br/>

        <div sec:authorize="isAuthenticated()">
            <p>Auth: You are an authenticated user.</p>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')">
			<p>ADMIN ROLE: You have the administrator role.</p>
        </div>
        <div sec:authorize="hasAuthority('USER')">
			<p>USER ROLE: You have the user role.</p>
        </div>

        <br/>

		<h2>Links:</h2>

		<br/>

		<p>
			<a href="/admin/gencode">/admin/gencode</a>
		</p>
		<p>
			<a href="/easteregg">/easteregg</a>
		</p>
		<p>
			<a href="/admin/hello">/admin/hello</a>
		</p>
		<p>
			<a href="/admin/genders">/admin/genders</a>
		</p>
		<p>
			<a href="/admin/userprofile">/admin/userprofile</a>
		</p>
		<p>
			<a href="/asd">404 Error</a>
		</p>
		<p>
			<a href="/exception">Exception</a>
		</p>


	</div>

</body>
</html>