<!DOCTYPE html>
<html lang="hu"	layout:decorator="/layouts/main">
<head>
	<title>Fapp - Home Page</title>
</head>
<body>
		
	<div layout:fragment="loginContent">

		<br/>

		<h3 class="form-signin-heading">Welcome, today is: <span th:text="${todayDate}"></span></h3>

		<br/>

		<h4>You logged as <span th:text="${profileDetails.fName}+' '+${profileDetails.sName}"></span></h4>

		<h5>Your Role(s) are: <span sec:authentication="principal.authorities"></span></h5>

		<br/>

		<p>Forward informations:</p>

        <div sec:authorize="isAuthenticated()">
            <p>&emsp; &oplus; You are authenticated.</p>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')">
			<p>&emsp; &oplus; You have the ADMINISTRATOR role.</p>
        </div>
        <div sec:authorize="hasAuthority('USER')">
			<p>&emsp; &oplus; You have the USER role.</p>
        </div>

        <br/>

	</div>

</body>
</html>