<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">

<head>
    <title>Fapp - Registration</title>
    <link rel="stylesheet" href="/static/css/dropDown.css" th:href="@{/css/dropDown.css}"/>
    <link rel="stylesheet" href="/static/css/passCheckerCss.css" th:href="@{/css/passCheckerCss.css}"/>
    <script src="/static/js/passwordChecker.js" th:src="@{/js/passwordChecker.js}"></script>
</head>

<body>

	<div layout:fragment="loginContent">

        <br/><br/>
        <h2 class="form-signin-heading">&#8810;&#8810; Please fill the form. &#8811;&#8811;</h2>
        <br/>

        <form name="registration" th:action="@{/registration/reg}" th:object="${user}" method="post" class="form-signin">
            <!--Action Section-->
            <br/>
            <div>
                <label for="fName">First Name:</label>
                <input type="text" id="fName" name="fName" th:field="*{fName}" placeholder="First Name" required="required" />

                <label for="sName">Last Name:</label>
                <input type="text" id="sName" name="sName" th:field="*{sName}" placeholder="Last Name" required="required" />

                <label for="sName">Your Email:</label>
                <input type="text" id="email" name="username" th:field="*{email}" placeholder="Your email" required="required" />

                <label for="userPassword">Password:</label>
                <input type="password" id="userPassword" name="userPassword" th:field="*{password}" placeholder="Password" required="required" />

                <label for="userPassword2">&ensp;Confirm:</label>
                <input type="password" id="userPassword2" name="userPassword2" placeholder="Password Again" required="required" />

                <label for="soflow-color">Gender Select:</label>
                <select id="soflow-color" th:field="*{userGender}">
                    <option th:each="gendre : ${genders}" th:value="${gendre}" th:text="${gendre}">Select car:</option>
                </select>
                <br/>
            </div>

            <div id="message" class="passCheck">
                <h3>Password must contain the following:</h3>
                <div class="mesTex">
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    <p id="samePass" class="invalid">Password <b>Confirmation</b></p>
                </div>
            </div>

            <br/>
            <label class="chcontainer">I accept the terms.
                <input type="checkbox" />
                <span class="checkmark"></span>
            </label>
            <br/>

            <div class="btnDiv">
                <button class="loginBtn" type="submit">Registration</button>
            </div>
            <br/>

            <div class="btnDiv">
                <button class="loginBtn" type="button" onclick="window.location.href='/login'" >Cancel</button>
            </div>
        </form>
    </div>

</body>
</html>